@media screen and (max-width: 768px) {
  body{
    font-size: 12px;
  }
    .m-display {
      flex-direction: column;
      padding: 0 !important;
    }
    .aside {
      width: 100%;
      height: auto;
      flex-direction: row !important;
      padding: 0 !important;
      img {
        width: 45%;
      }
      h2 {
        font-size: 2rem;
      }
      p {
        font-size: 1rem;
      }
    }
  
    .dashboard {
      width: 100%;
      height: auto;
      padding-left: 0 !important;
      padding-top: 3rem;
      .navbar {
        a{
          padding: .5rem .8rem;
        }
      .active{
        padding: .6rem;
      }
      }
    }
  
  }
